*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
  width: auto;
}
body{
  background-image: url(body-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#game div {
  border: 1px solid blue;
  width: 160px;
  height: 200px;
  margin: 10px;
  display: inline-block;
  background-size: cover;
  background-image: url(cards.jpg);
  background-repeat: no-repeat;
  border-radius: 10px;
}

#game div:hover{
  cursor: pointer;
}

#game div img{
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}
.visible {
  display: block;
}


#game-container{
  padding-top: 100px;
  width: 100%;
  height: 100%;
  text-align: center;
}

#name{
  text-align: center;
  font-size: 5rem;
  color: violet;
}

#menu{
  display: flex;
  justify-content: space-around;
}
#menu button, #menu select{
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  background-color:blue;
  color: white;
  border: 1px solid orange;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
}

.score{
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
}
#moves{
  color: rgb(255, 115, 0);
  font-size: 1.5rem;
}
#message-container{
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}
#message{
  color: yellow;
  margin: auto;
  margin-top: 600px;
  text-align: center;
  width: 800px;
  height: 250px;
  background-color: red;
  border: 2px solid yellow;
  padding: 50px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

a{
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  background-color:blue;
  color: white;
  border: 1px solid orange;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
}